<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.CustomerAddressInfoMapper">
  <resultMap id="BaseResultMap" type="com.applet.model.CustomerAddressInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="customer_name" jdbcType="CHAR" property="customerName" />
    <result column="customer_phone" jdbcType="CHAR" property="customerPhone" />
    <result column="customer_place_provice" jdbcType="CHAR" property="customerPlaceProvice" />
    <result column="customer_place_city" jdbcType="CHAR" property="customerPlaceCity" />
    <result column="customer_place_area" jdbcType="CHAR" property="customerPlaceArea" />
    <result column="customer_detailed_address" jdbcType="VARCHAR" property="customerDetailedAddress" />
    <result column="del_flag" jdbcType="SMALLINT" property="delFlag" />
    <result column="customer_address_type" jdbcType="SMALLINT" property="customerAddressType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,customer_name, customer_phone, customer_place_provice, customer_place_city,
    customer_place_area, customer_detailed_address
  </sql>
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_address_info
    where user_id = #{userId,jdbcType=CHAR} and  del_flag = 0 ORDER BY id desc
  </select>
  <insert id="insertCustomerAddressInfo" parameterType="com.applet.model.CustomerAddressInfo">
    insert into t_customer_address_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="customerPhone != null">
        customer_phone,
      </if>
      <if test="customerPlaceProvice != null">
        customer_place_provice,
      </if>
      <if test="customerPlaceCity != null">
        customer_place_city,
      </if>
      <if test="customerPlaceArea != null">
        customer_place_area,
      </if>
      <if test="customerDetailedAddress != null">
        customer_detailed_address,
      </if>
      <if test="customerAddressType != null">
        customer_address_type,
      </if>
        add_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=CHAR},
      </if>
      <if test="customerPhone != null">
        #{customerPhone,jdbcType=CHAR},
      </if>
      <if test="customerPlaceProvice != null">
        #{customerPlaceProvice,jdbcType=CHAR},
      </if>
      <if test="customerPlaceCity != null">
        #{customerPlaceCity,jdbcType=CHAR},
      </if>
      <if test="customerPlaceArea != null">
        #{customerPlaceArea,jdbcType=CHAR},
      </if>
      <if test="customerDetailedAddress != null">
        #{customerDetailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressType != null">
        #{customerAddressType,jdbcType=SMALLINT},
      </if>
         NOW(),
         NOW(),
    </trim>
  </insert>
  <!-- 更新用户地址信息 -->
  <update id="updateCustomerAddressInfo" parameterType="com.applet.model.CustomerAddressInfo">
    update t_customer_address_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=CHAR},
      </if>
      <if test="customerPhone != null">
        customer_phone = #{customerPhone,jdbcType=CHAR},
      </if>
      <if test="customerPlaceProvice != null">
        customer_place_provice = #{customerPlaceProvice,jdbcType=CHAR},
      </if>
      <if test="customerPlaceCity != null">
        customer_place_city = #{customerPlaceCity,jdbcType=CHAR},
      </if>
      <if test="customerPlaceArea != null">
        customer_place_area = #{customerPlaceArea,jdbcType=CHAR},
      </if>
      <if test="customerDetailedAddress != null">
        customer_detailed_address = #{customerDetailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=SMALLINT},
      </if>
      <if test="updateTime != null">
        update_time = NOW(),
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 更新删除标识为该数据已经删除 -->
  <update id="updateDelFlag" parameterType="java.lang.Long">
     UPDATE t_customer_address_info
     SET del_flag=1
     where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>