<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.NyCustomStoreMapper">
  <resultMap id="BaseResultMap" type="com.applet.model.NyCustomStore">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="custom_id" jdbcType="VARCHAR" property="customId" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="store_addr" jdbcType="VARCHAR" property="storeAddr" />
    <result column="store_tel" jdbcType="VARCHAR" property="storeTel" />
    <result column="store_provinceid" jdbcType="BIGINT" property="storeProvinceid" />
    <result column="store_cityid" jdbcType="BIGINT" property="storeCityid" />
    <result column="store_regionid" jdbcType="BIGINT" property="storeRegionid" />
    <result column="store_streetid" jdbcType="BIGINT" property="storeStreetid" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="service_tel" jdbcType="VARCHAR" property="serviceTel" />
    <result column="business_begin_time" jdbcType="VARCHAR" property="businessBeginTime" />
    <result column="business_end_time" jdbcType="VARCHAR" property="businessEndTime" />
    <result column="business_weekday" jdbcType="VARCHAR" property="businessWeekday" />
    <result column="store_pic1" jdbcType="VARCHAR" property="storePic1" />
    <result column="store_pic2" jdbcType="VARCHAR" property="storePic2" />
    <result column="store_recommend" jdbcType="VARCHAR" property="storeRecommend" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="open_flag" jdbcType="BIT" property="openFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_name, longitude, latitude, store_pic1, store_pic2
  </sql>
  <select id="selectCustomStores" parameterType="java.lang.String" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from ny_custom_store
  WHERE del_flag=0 and open_flag=0
  ORDER BY id DESC
 </select>
</mapper>