<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.TransRecordSupplyMapper">
  <resultMap id="BaseResultMap" type="com.applet.model.TransRecordSupply">
    <id column="trans_id" jdbcType="VARCHAR" property="transId" />
    <result column="discount_money" jdbcType="DECIMAL" property="discountMoney" />
    <result column="fence_status" jdbcType="INTEGER" property="fenceStatus" />
    <result column="order_from" jdbcType="VARCHAR" property="orderFrom" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    trans_id, discount_money, fence_status, order_from, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_trans_record_supply
    where trans_id = #{transId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_trans_record_supply
    where trans_id = #{transId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.applet.model.TransRecordSupply">
    insert into t_trans_record_supply (trans_id, discount_money, fence_status, 
      order_from, update_time)
    values (#{transId,jdbcType=VARCHAR}, #{discountMoney,jdbcType=DECIMAL}, #{fenceStatus,jdbcType=INTEGER}, 
      #{orderFrom,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.applet.model.TransRecordSupply">
    insert into t_trans_record_supply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        trans_id,
      </if>
      <if test="discountMoney != null">
        discount_money,
      </if>
      <if test="fenceStatus != null">
        fence_status,
      </if>
      <if test="orderFrom != null">
        order_from,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        #{transId,jdbcType=VARCHAR},
      </if>
      <if test="discountMoney != null">
        #{discountMoney,jdbcType=DECIMAL},
      </if>
      <if test="fenceStatus != null">
        #{fenceStatus,jdbcType=INTEGER},
      </if>
      <if test="orderFrom != null">
        #{orderFrom,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.applet.model.TransRecordSupply">
    update t_trans_record_supply
    <set>
      <if test="discountMoney != null">
        discount_money = #{discountMoney,jdbcType=DECIMAL},
      </if>
      <if test="fenceStatus != null">
        fence_status = #{fenceStatus,jdbcType=INTEGER},
      </if>
      <if test="orderFrom != null">
        order_from = #{orderFrom,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where trans_id = #{transId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.applet.model.TransRecordSupply">
    update t_trans_record_supply
    set discount_money = #{discountMoney,jdbcType=DECIMAL},
      fence_status = #{fenceStatus,jdbcType=INTEGER},
      order_from = #{orderFrom,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where trans_id = #{transId,jdbcType=VARCHAR}
  </update>
</mapper>