<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichuxing.mapper.TransRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.weichuxing.model.TransRecordInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="borrow_battery_num" jdbcType="INTEGER" property="borrowBatteryNum" />
    <result column="borrow_bicycle_num" jdbcType="INTEGER" property="borrowBicycleNum" />
    <result column="borrow_date_time" jdbcType="TIMESTAMP" property="borrowDateTime" />
    <result column="order_integral" jdbcType="INTEGER" property="orderIntegral" />
    <result column="order_num" jdbcType="BIGINT" property="orderNum" />
    <result column="recession_battery_num" jdbcType="INTEGER" property="recessionBatteryNum" />
    <result column="recession_bicycle_num" jdbcType="INTEGER" property="recessionBicycleNum" />
    <result column="recession_date_time" jdbcType="TIMESTAMP" property="recessionDateTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="trans_flag" jdbcType="INTEGER" property="transFlag" />
    <result column="trans_money" jdbcType="DECIMAL" property="transMoney" />
    <result column="upload_date" jdbcType="TIMESTAMP" property="uploadDate" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="end_position" jdbcType="VARCHAR" property="endPosition" />
    <result column="kilometers" jdbcType="DECIMAL" property="kilometers" />
    <result column="start_position" jdbcType="VARCHAR" property="startPosition" />
    <result column="bicycle_type" jdbcType="INTEGER" property="bicycleType" />
    <result column="sim_no" jdbcType="VARCHAR" property="simNo" />
    <result column="use_blue_tooth" jdbcType="INTEGER" property="useBlueTooth" />
    <result column="calorie" jdbcType="DECIMAL" property="calorie" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="last_used_time" jdbcType="TIMESTAMP" property="lastUsedTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="city_no" jdbcType="INTEGER" property="cityNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, borrow_battery_num, borrow_bicycle_num, borrow_date_time, order_integral, order_num, 
    recession_battery_num, recession_bicycle_num, recession_date_time, state, trans_flag, 
    trans_money, upload_date, user_id, create_by, create_date, update_by, update_date, 
    remarks, end_position, kilometers, start_position, bicycle_type, sim_no, use_blue_tooth, 
    calorie, duration, user_type, last_used_time, del_flag, city_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_trans_record_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_trans_record_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.weichuxing.model.TransRecordInfo">
    insert into t_trans_record_info (id, borrow_battery_num, borrow_bicycle_num, 
      borrow_date_time, order_integral, order_num, 
      recession_battery_num, recession_bicycle_num, 
      recession_date_time, state, trans_flag, 
      trans_money, upload_date, user_id, 
      create_by, create_date, update_by, 
      update_date, remarks, end_position, 
      kilometers, start_position, bicycle_type, 
      sim_no, use_blue_tooth, calorie, 
      duration, user_type, last_used_time, 
      del_flag, city_no)
    values (#{id,jdbcType=VARCHAR}, #{borrowBatteryNum,jdbcType=INTEGER}, #{borrowBicycleNum,jdbcType=INTEGER}, 
      #{borrowDateTime,jdbcType=TIMESTAMP}, #{orderIntegral,jdbcType=INTEGER}, #{orderNum,jdbcType=BIGINT}, 
      #{recessionBatteryNum,jdbcType=INTEGER}, #{recessionBicycleNum,jdbcType=INTEGER}, 
      #{recessionDateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{transFlag,jdbcType=INTEGER}, 
      #{transMoney,jdbcType=DECIMAL}, #{uploadDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{endPosition,jdbcType=VARCHAR}, 
      #{kilometers,jdbcType=DECIMAL}, #{startPosition,jdbcType=VARCHAR}, #{bicycleType,jdbcType=INTEGER}, 
      #{simNo,jdbcType=VARCHAR}, #{useBlueTooth,jdbcType=INTEGER}, #{calorie,jdbcType=DECIMAL}, 
      #{duration,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{lastUsedTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER}, #{cityNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.weichuxing.model.TransRecordInfo">
    insert into t_trans_record_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="borrowBatteryNum != null">
        borrow_battery_num,
      </if>
      <if test="borrowBicycleNum != null">
        borrow_bicycle_num,
      </if>
      <if test="borrowDateTime != null">
        borrow_date_time,
      </if>
      <if test="orderIntegral != null">
        order_integral,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="recessionBatteryNum != null">
        recession_battery_num,
      </if>
      <if test="recessionBicycleNum != null">
        recession_bicycle_num,
      </if>
      <if test="recessionDateTime != null">
        recession_date_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="transFlag != null">
        trans_flag,
      </if>
      <if test="transMoney != null">
        trans_money,
      </if>
      <if test="uploadDate != null">
        upload_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="endPosition != null">
        end_position,
      </if>
      <if test="kilometers != null">
        kilometers,
      </if>
      <if test="startPosition != null">
        start_position,
      </if>
      <if test="bicycleType != null">
        bicycle_type,
      </if>
      <if test="simNo != null">
        sim_no,
      </if>
      <if test="useBlueTooth != null">
        use_blue_tooth,
      </if>
      <if test="calorie != null">
        calorie,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="lastUsedTime != null">
        last_used_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="cityNo != null">
        city_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="borrowBatteryNum != null">
        #{borrowBatteryNum,jdbcType=INTEGER},
      </if>
      <if test="borrowBicycleNum != null">
        #{borrowBicycleNum,jdbcType=INTEGER},
      </if>
      <if test="borrowDateTime != null">
        #{borrowDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderIntegral != null">
        #{orderIntegral,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="recessionBatteryNum != null">
        #{recessionBatteryNum,jdbcType=INTEGER},
      </if>
      <if test="recessionBicycleNum != null">
        #{recessionBicycleNum,jdbcType=INTEGER},
      </if>
      <if test="recessionDateTime != null">
        #{recessionDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="transFlag != null">
        #{transFlag,jdbcType=INTEGER},
      </if>
      <if test="transMoney != null">
        #{transMoney,jdbcType=DECIMAL},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="endPosition != null">
        #{endPosition,jdbcType=VARCHAR},
      </if>
      <if test="kilometers != null">
        #{kilometers,jdbcType=DECIMAL},
      </if>
      <if test="startPosition != null">
        #{startPosition,jdbcType=VARCHAR},
      </if>
      <if test="bicycleType != null">
        #{bicycleType,jdbcType=INTEGER},
      </if>
      <if test="simNo != null">
        #{simNo,jdbcType=VARCHAR},
      </if>
      <if test="useBlueTooth != null">
        #{useBlueTooth,jdbcType=INTEGER},
      </if>
      <if test="calorie != null">
        #{calorie,jdbcType=DECIMAL},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="lastUsedTime != null">
        #{lastUsedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="cityNo != null">
        #{cityNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichuxing.model.TransRecordInfo">
    update t_trans_record_info
    <set>
      <if test="borrowBatteryNum != null">
        borrow_battery_num = #{borrowBatteryNum,jdbcType=INTEGER},
      </if>
      <if test="borrowBicycleNum != null">
        borrow_bicycle_num = #{borrowBicycleNum,jdbcType=INTEGER},
      </if>
      <if test="borrowDateTime != null">
        borrow_date_time = #{borrowDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderIntegral != null">
        order_integral = #{orderIntegral,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="recessionBatteryNum != null">
        recession_battery_num = #{recessionBatteryNum,jdbcType=INTEGER},
      </if>
      <if test="recessionBicycleNum != null">
        recession_bicycle_num = #{recessionBicycleNum,jdbcType=INTEGER},
      </if>
      <if test="recessionDateTime != null">
        recession_date_time = #{recessionDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="transFlag != null">
        trans_flag = #{transFlag,jdbcType=INTEGER},
      </if>
      <if test="transMoney != null">
        trans_money = #{transMoney,jdbcType=DECIMAL},
      </if>
      <if test="uploadDate != null">
        upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="endPosition != null">
        end_position = #{endPosition,jdbcType=VARCHAR},
      </if>
      <if test="kilometers != null">
        kilometers = #{kilometers,jdbcType=DECIMAL},
      </if>
      <if test="startPosition != null">
        start_position = #{startPosition,jdbcType=VARCHAR},
      </if>
      <if test="bicycleType != null">
        bicycle_type = #{bicycleType,jdbcType=INTEGER},
      </if>
      <if test="simNo != null">
        sim_no = #{simNo,jdbcType=VARCHAR},
      </if>
      <if test="useBlueTooth != null">
        use_blue_tooth = #{useBlueTooth,jdbcType=INTEGER},
      </if>
      <if test="calorie != null">
        calorie = #{calorie,jdbcType=DECIMAL},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="lastUsedTime != null">
        last_used_time = #{lastUsedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="cityNo != null">
        city_no = #{cityNo,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichuxing.model.TransRecordInfo">
    update t_trans_record_info
    set borrow_battery_num = #{borrowBatteryNum,jdbcType=INTEGER},
      borrow_bicycle_num = #{borrowBicycleNum,jdbcType=INTEGER},
      borrow_date_time = #{borrowDateTime,jdbcType=TIMESTAMP},
      order_integral = #{orderIntegral,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=BIGINT},
      recession_battery_num = #{recessionBatteryNum,jdbcType=INTEGER},
      recession_bicycle_num = #{recessionBicycleNum,jdbcType=INTEGER},
      recession_date_time = #{recessionDateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      trans_flag = #{transFlag,jdbcType=INTEGER},
      trans_money = #{transMoney,jdbcType=DECIMAL},
      upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      end_position = #{endPosition,jdbcType=VARCHAR},
      kilometers = #{kilometers,jdbcType=DECIMAL},
      start_position = #{startPosition,jdbcType=VARCHAR},
      bicycle_type = #{bicycleType,jdbcType=INTEGER},
      sim_no = #{simNo,jdbcType=VARCHAR},
      use_blue_tooth = #{useBlueTooth,jdbcType=INTEGER},
      calorie = #{calorie,jdbcType=DECIMAL},
      duration = #{duration,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      last_used_time = #{lastUsedTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      city_no = #{cityNo,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>