<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichuxing.mapper.UserInfoMapper">

  <resultMap id="BaseResultMap" type="com.weichuxing.model.UserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="app_version" jdbcType="VARCHAR" property="appVersion" />
    <result column="certificate_negative" jdbcType="VARCHAR" property="certificateNegative" />
    <result column="certificate_positive" jdbcType="VARCHAR" property="certificatePositive" />
    <result column="change_battery_status" jdbcType="INTEGER" property="changeBatteryStatus" />
    <result column="city_no" jdbcType="VARCHAR" property="cityNo" />
    <result column="credit_score" jdbcType="INTEGER" property="creditScore" />
    <result column="deposit" jdbcType="DECIMAL" property="deposit" />
    <result column="guester_state" jdbcType="INTEGER" property="guesterState" />
    <result column="id_cardnum" jdbcType="VARCHAR" property="idCardnum" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="login_state" jdbcType="INTEGER" property="loginState" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="m_borrow_bicycle" jdbcType="INTEGER" property="mBorrowBicycle" />
    <result column="m_borrow_bicycle_date" jdbcType="TIMESTAMP" property="mBorrowBicycleDate" />
    <result column="m_phone_system_version" jdbcType="VARCHAR" property="mPhoneSystemVersion" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="open_date" jdbcType="TIMESTAMP" property="openDate" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="status_change_time" jdbcType="TIMESTAMP" property="statusChangeTime" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="validate_date" jdbcType="TIMESTAMP" property="validateDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="balance_free" jdbcType="DECIMAL" property="balanceFree" />
    <result column="month_card_time" jdbcType="TIMESTAMP" property="monthCardTime" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="lucky_money" jdbcType="DECIMAL" property="luckyMoney" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="alipay_account" jdbcType="VARCHAR" property="alipayAccount" />
    <result column="phone_province" jdbcType="VARCHAR" property="phoneProvince" />
    <result column="phone_city" jdbcType="VARCHAR" property="phoneCity" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="register_city" jdbcType="VARCHAR" property="registerCity" />
    <result column="imei" jdbcType="VARCHAR" property="imei" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="idfa" jdbcType="VARCHAR" property="idfa" />
    <result column="user_source" jdbcType="VARCHAR" property="userSource" />
  </resultMap>

  <select id="selectByUserPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    id,account_status,deposit
    FROM t_user_info
    WHERE phone=#{phone,jdbcType=VARCHAR}
  </select>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    account_status,m_borrow_bicycle
    FROM t_user_info
    WHERE id=#{id,jdbcType=VARCHAR}
  </select>


  <insert id="insertUserInfo" parameterType="com.weichuxing.model.UserInfo">
    insert into t_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
        add_time,
      <if test="appVersion != null">
        app_version,
      </if>
      <if test="certificateNegative != null">
        certificate_negative,
      </if>
      <if test="certificatePositive != null">
        certificate_positive,
      </if>
      <if test="changeBatteryStatus != null">
        change_battery_status,
      </if>
      <if test="cityNo != null">
        city_no,
      </if>
      <if test="creditScore != null">
        credit_score,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="guesterState != null">
        guester_state,
      </if>
      <if test="idCardnum != null">
        id_cardnum,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="loginState != null">
        login_state,
      </if>
        login_time,
      <if test="mBorrowBicycle != null">
        m_borrow_bicycle,
      </if>
      <if test="mBorrowBicycleDate != null">
        m_borrow_bicycle_date,
      </if>
      <if test="mPhoneSystemVersion != null">
        m_phone_system_version,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="openDate != null">
        open_date,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="picurl != null">
        picurl,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="statusChangeTime != null">
        status_change_time,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
      <if test="validateDate != null">
        validate_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
        create_date,
      <if test="updateBy != null">
        update_by,
      </if>
        update_date,
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="balanceFree != null">
        balance_free,
      </if>
      <if test="monthCardTime != null">
        month_card_time,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="luckyMoney != null">
        lucky_money,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="alipayAccount != null">
        alipay_account,
      </if>
      <if test="phoneProvince != null">
        phone_province,
      </if>
      <if test="phoneCity != null">
        phone_city,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="registerCity != null">
        register_city,
      </if>
      <if test="imei != null">
        imei,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="idfa != null">
        idfa,
      </if>
      <if test="userSource != null">
        user_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=INTEGER},
      </if>
         NOW(),
      <if test="appVersion != null">
        #{appVersion,jdbcType=VARCHAR},
      </if>
      <if test="certificateNegative != null">
        #{certificateNegative,jdbcType=VARCHAR},
      </if>
      <if test="certificatePositive != null">
        #{certificatePositive,jdbcType=VARCHAR},
      </if>
      <if test="changeBatteryStatus != null">
        #{changeBatteryStatus,jdbcType=INTEGER},
      </if>
      <if test="cityNo != null">
        #{cityNo,jdbcType=VARCHAR},
      </if>
      <if test="creditScore != null">
        #{creditScore,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="guesterState != null">
        #{guesterState,jdbcType=INTEGER},
      </if>
      <if test="idCardnum != null">
        #{idCardnum,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="loginState != null">
        #{loginState,jdbcType=INTEGER},
      </if>
         NOW(),
      <if test="mBorrowBicycle != null">
        #{mBorrowBicycle,jdbcType=INTEGER},
      </if>
      <if test="mBorrowBicycleDate != null">
        #{mBorrowBicycleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mPhoneSystemVersion != null">
        #{mPhoneSystemVersion,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null">
        #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null">
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="statusChangeTime != null">
        #{statusChangeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="validateDate != null">
        #{validateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
           NOW(),
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
            NOW(),
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="balanceFree != null">
        #{balanceFree,jdbcType=DECIMAL},
      </if>
      <if test="monthCardTime != null">
        #{monthCardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="luckyMoney != null">
        #{luckyMoney,jdbcType=DECIMAL},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="alipayAccount != null">
        #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="phoneProvince != null">
        #{phoneProvince,jdbcType=VARCHAR},
      </if>
      <if test="phoneCity != null">
        #{phoneCity,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="registerCity != null">
        #{registerCity,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="idfa != null">
        #{idfa,jdbcType=VARCHAR},
      </if>
      <if test="userSource != null">
        #{userSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>