<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.UserReportMapper">
  <resultMap id="BaseResultMap" type="com.applet.model.UserReport">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="calorie" jdbcType="DOUBLE" property="calorie" />
    <result column="duration" jdbcType="DOUBLE" property="duration" />
    <result column="kilometers" jdbcType="DOUBLE" property="kilometers" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <insert id="insertUserReportInfo" parameterType="com.applet.model.UserReport">
    insert into t_user_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="calorie != null">
        calorie,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="kilometers != null">
        kilometers,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="calorie != null">
        #{calorie,jdbcType=DOUBLE},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=DOUBLE},
      </if>
      <if test="kilometers != null">
        #{kilometers,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>