<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichuxing.mapper.WcxFenceInfoMapper">
  <resultMap id="BaseResultMap" type="com.weichuxing.model.WcxFenceInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latititude_longitude" jdbcType="VARCHAR" property="latititudeLongitude" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="fance_no" jdbcType="INTEGER" property="fanceNo" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
  </resultMap>
  <sql id="Base_Column_List">
    longitude, latititude_longitude
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_electric_fance_info
    WHERE area_name LIKE '上海市%'
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>