<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichuxing.mapper.WcxUserRegisterInfoMapper">
  <resultMap id="BaseResultMap" type="com.weichuxing.model.WcxUserRegisterInfoRequest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openid" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="userid_hash" jdbcType="VARCHAR" property="useridHash" />
    <result column="regist_flag" jdbcType="INTEGER" property="registFlag" />
    <result column="deposit_flag" jdbcType="INTEGER" property="depositFlag" />
    <result column="deposit_fee" jdbcType="BIGINT" property="depositFee" />
    <result column="transaction_id" jdbcType="varchar" property="transactionId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
   user_id, user_mobile, userid_hash, regist_flag, deposit_flag,
    deposit_fee,transaction_id
  </sql>
  <select id="selectByOpenId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wcx_user_info
    where  open_id= #{openid,jdbcType=VARCHAR}
  </select>

  <insert id="insertWcxUserInfo" parameterType="com.weichuxing.model.WcxUserRegisterInfoRequest" keyProperty="id" useGeneratedKeys="true">
    insert into t_wcx_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        open_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userMobile != null">
        user_mobile,
      </if>
      <if test="useridHash != null">
        userid_hash,
      </if>
      <if test="registFlag != null">
        regist_flag,
      </if>
      <if test="depositFlag != null">
        deposit_flag,
      </if>
      <if test="depositFee != null">
        deposit_fee,
      </if>
      <if test=" transaction_id != null">
        transactionId,
      </if>
        add_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="useridHash != null">
        #{useridHash,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        #{registFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFlag != null">
        #{depositFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFee != null">
        #{depositFee,jdbcType=BIGINT},
      </if>
      <if test=" transaction_id != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
         addTime=NOW(),
      <if test="updateTime != null">
        updateTime=NOW(),
      </if>
    </trim>
  </insert>

  <select id="selectByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    user_id
    FROM t_wcx_user_info
    WHERE open_id=#{openid,jdbcType=VARCHAR}
  </select>

  <select id="selectWcxUserCount" parameterType="java.lang.Long" resultType="java.lang.Long">
    SELECT
    COUNT(1)
    from t_wcx_user_info
    where open_id = #{openid,jdbcType=VARCHAR}
  </select>

  <update id="updateUserInfoById" parameterType="com.weichuxing.model.WcxUserRegisterInfoRequest">
    UPDATE t_wcx_user_info
    SET
    deposit_flag = #{depositFlag},
     updateTime=NOW()
    WHERE open_id = #{openid}
  </update>
</mapper>