<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.WxUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.applet.model.WxUserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="userid_hash" jdbcType="VARCHAR" property="useridHash" />
    <result column="regist_flag" jdbcType="INTEGER" property="registFlag" />
    <result column="deposit_flag" jdbcType="INTEGER" property="depositFlag" />
    <result column="deposit_fee" jdbcType="BIGINT" property="depositFee" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, user_id, user_name, user_mobile, userid_hash, regist_flag, deposit_flag, 
    deposit_fee, transaction_id, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wx_user_info
    where open_id = #{openId,jdbcType=BIGINT}
  </select>
  <select id="selectNumByOpenId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    COUNT(1)
    from t_wx_user_info
    where open_id = #{openId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_wx_user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.applet.model.WxUserInfo">
    insert into t_wx_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        open_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userMobile != null">
        user_mobile,
      </if>
      <if test="useridHash != null">
        userid_hash,
      </if>
      <if test="registFlag != null">
        regist_flag,
      </if>
      <if test="depositFlag != null">
        deposit_flag,
      </if>
      <if test="depositFee != null">
        deposit_fee,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
        add_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="useridHash != null">
        #{useridHash,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        #{registFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFlag != null">
        #{depositFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFee != null">
        #{depositFee,jdbcType=BIGINT},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      NOW(),
      NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.applet.model.WxUserInfo">
    update t_wx_user_info
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="useridHash != null">
        userid_hash = #{useridHash,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        regist_flag = #{registFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFlag != null">
        deposit_flag = #{depositFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFee != null">
        deposit_fee = #{depositFee,jdbcType=BIGINT},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.applet.model.WxUserInfo">
    update t_wx_user_info
    set open_id = #{openId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      userid_hash = #{useridHash,jdbcType=VARCHAR},
      regist_flag = #{registFlag,jdbcType=INTEGER},
      deposit_flag = #{depositFlag,jdbcType=INTEGER},
      deposit_fee = #{depositFee,jdbcType=BIGINT},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>