<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.WxUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.applet.model.WxUserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="userid_hash" jdbcType="VARCHAR" property="useridHash" />
    <result column="regist_flag" jdbcType="INTEGER" property="registFlag" />
    <result column="deposit_flag" jdbcType="INTEGER" property="depositFlag" />
    <result column="deposit_fee" jdbcType="BIGINT" property="depositFee" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <select id="selectUserIdByMobile" parameterType="java.lang.String" resultType="java.lang.String">
    select 
    user_id
    from t_wx_user_info
    where user_mobile = #{userMobile,jdbcType=VARCHAR}
  </select>
  <select id="selectNumByMobile" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    COUNT(1)
    from t_wx_user_info
    where user_mobile = #{userMobile,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_wx_user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.applet.model.WxUserInfo">
    insert into t_wx_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        open_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userMobile != null">
        user_mobile,
      </if>
      <if test="useridHash != null">
        userid_hash,
      </if>
      <if test="registFlag != null">
        regist_flag,
      </if>
      <if test="depositFlag != null">
        deposit_flag,
      </if>
      <if test="depositFee != null">
        deposit_fee,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
        add_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="useridHash != null">
        #{useridHash,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        #{registFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFlag != null">
        #{depositFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFee != null">
        #{depositFee,jdbcType=BIGINT},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      NOW(),
      NOW()
    </trim>
  </insert>
  <update id="updateUserStatusById" parameterType="com.applet.model.WxUserInfo">
    update t_wx_user_info
    <set>
      <if test="depositFlag != null">
        deposit_flag = #{depositFlag,jdbcType=INTEGER},
      </if>
      <if test="depositFee != null">
        deposit_fee = #{depositFee,jdbcType=BIGINT},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
        update_time = NOW(),
    </set>
    where open_id = #{openId,jdbcType=BIGINT} AND regist_flag = 4
  </update>
</mapper>